<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookBase : Dashboard</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/authorsearch.css" rel="stylesheet">
  </head>

  <body ng-controller="dashboardController">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <span class="navbar-brand center">BookBase</span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Homepage</a>
          <a class="nav-item nav-link" href="/bookresult">Book Search</a>
          <a class="nav-item nav-link active" href="/authorssearch">Author Search</a>
          <a class="nav-item nav-link" href="/redditsearch">Reddit Search</a>
          <a class="nav-item nav-link" href="/recommendations">Recommendations</a>
        </div>
      </div>
    </nav>

    <!-- User Content -->


    <div class="jumbotron">

      <form class="form-inline my-2 my-lg-0" wtx-context="19357285-E99F-46C4-AB3B-9CDB82AE52BB">

        <input class="form-control mr-sm-2" type="text" placeholder="Search By Author Name" wtx-context="B0E6765A-0404-435E-8F22-2B1515B7FCB1" ng-model="search.SearchQuery" /> 
        <button ng-click="searchAuthors(search.SearchQuery)" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>

      </form>
      <div class="top-author">
        <div class="h5">Top Authors of All Time</div>
        <div class="author_list" ng-repeat="a in top_authors">
          {{a}}
        </div>
      </div>

      <div class="book-container">
        <div class="h3">Author Information</div>
        <div class="genre" ng-repeat="a in author_search" ng-click="showAuthor(a)" id="{{'button-' + a.title}}">
          {{a.name}}
      </div>
      <div class="book-container">
        
        <div class="book" ng-repeat="sa in selected_author">
          <div class="header-lg"><strong>Name: {{sa.name}}</strong></div>
          <div class="header"><strong>Average Rating: {{sa.average_rating}}</strong></div>
          <div class="header"><strong>Rating Count: {{sa.ratings_count}}</strong></div>
        </div>
        <div class="books-by-author" ng-repeat="sab in selected_author_books">
          <div class="header-lg"><strong>Book By Author: </strong>{{sab.title}}</div>
        </div>
      </div> 
    </div>

    
   

    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
